:root{
    --blanco: #ffffff;
    --negro: #212121;
    --gris: #757575;
    --primario: #ffc107;
    --secundario: #0097a7;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Montserrat', sans-serif;

}
.titulo{
    text-align: center;
    font-size: 3.8rem;
    font-weight: 800;
}
    .titulo span{
    font-size: 2rem;
}
