:root{
    --blanco: #ffffff;
    --negro: #212121;
    --gris: #757575;
    --primario: #ffc107;
    --secundario: #0097a7;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Montserrat', sans-serif;

}
.titulo{
    text-align: center;
    font-size: 3.8rem;
    font-weight: 800;
}
    .titulo span{
    font-size: 2rem;
}


.contenedor{
    /*------CENTRAR NAVEGADOR------*/
    max-width: 120rem;
    margin: 0 auto 0 auto;
    /*al ponerle un ancho específico y poner a cada lado un 'auto' se centra*/
    /*-----------------------------*/
}
.nav-bg{
    background-color: var(--secundario);

}
.navegacion-principal {
    display: flex; /*habilita felxbox*/
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between; /*permite mover el contenido horizontalmente*/
    }
}

.navegacion-principal a {
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--negro);
}

